@import "tailwindcss";

@theme {
  --color-eventosnap-dark: #2e2f32;
  --color-eventosnap-gold: #c19b5c;
  --color-eventosnap-beige: #e9d7c3;
  --color-eventosnap-cream: F9F5EF;
  --color-eventosnap-off-white: FBF9F4;

  --font-playfair: "Playfair Display", "serif";
  --font-inter: "Inter", "sans-serif";
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fbf9f4;
  color: #2e2f32;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #2e2f32;
}
