@import "tailwindcss";

@theme {
  --color-eventosnap-dark: #2e2f32;
  --color-eventosnap-gold: #c19b5c;
  --color-eventosnap-beige: #e9d7c3;
  --color-eventosnap-cream: #f9f5ef;
  --color-eventosnap-off-white: #fbf9f4;

  --font-playfair: "Playfair Display", "serif";
  --font-inter: "Inter", "sans-serif";
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fbf9f4;
  color: #2e2f32;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #2e2f32;
}

table,
tr,
td {
  padding: 0.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #2e2f32;
  border: 1px solid #2e2f32;
}

tr {
  background-color: #fbf9f4;
}

tr:hover {
  background-color: #e9d7c38f;
  color: #2e2f32;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

th {
  font-weight: 700;
  background-color: #e9d7c3;
  color: #2e2f32;
  padding: 0.4rem;
  border: 1px solid #2e2f32;
}
